/*@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');*/
/*@import url('https://fonts.googleapis.com/icon?family=Material+Icons');*/
@import url('/fonts/Economica.css');



body {
  margin: 0;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, #093879 64%, rgba(0,0,0,1) 100%);
  color: #0074ff !important;
  font-family: economica !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
