.mainCard{
  width: 130px;
  padding: 3px;
  margin:5px auto;
  background-color: transparent !important;
  border: 1px #017ab4 solid !important;
  color:#FFFFFF !important;
}
.mainCardHeader{
  background-color: #E6FB04 !important; 
  border: 1px #017ab4 solid !important;
  color:#17098f !important;
  
}
.mainCardGlobal{
  width: 200px;
  height: 140px;
  vertical-align: center;
  background-color: transparent !important;
  border: 1px #E6FB04 solid !important;
  color:#E6FB04 !important;
}
.mainCardBody{
    padding: 3px !important;
    font-size: 1.2em;
  }
  